body {
  font-family: "Segoe UI", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #0b0e14;
  color: #f1f1f1;
}

h1 {
  margin: 0;
}

a {
  color: #22d3ee;
  text-decoration: none;
}

button {
  background: #7c3aed;
  border: none;
  padding: 10px 16px;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #6d28d9;
}
